:global {
  body {
    --scroll-color: #1890ff;
  }
  body::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 45px;
  }
  body::-webkit-scrollbar {
    width: 15px;
    background-color: #fff;
    border-radius: 45px;
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-radius: 45px;
  }
}
